body{
    font-family: sans-serif, arial;
    margin: 0;
    padding: 0px;
    background-color: #f5f5f5;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
h1{
    text-align: center;
    padding: 20px;
    color: #333;
    margin-bottom: 20px;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;

}
.product-card{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}
.product-card img{
    max-width: 100%;
    height: auto;
}
.product-details h3{
    font-size: 1.1em;
    margin: 10px 0;
}
.product-details p{
    color: #555;
    font-size: 0.9em;
    margin-bottom: 15px;
}
.price{
    font-size: 1.4em;
    color: #000;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}
.buy-button{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}